body
{
    color: #570257;
    background: palevioletred;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed #7f0c0c;
    width: 350px;
    height: 300px;
}
.name_of_objects,#result_object_name , #result_object_acuracy
{
    color: #8012ed;
}